._links_to_collections {
  /* background-color: var(--grey-opacity-4); */
  border-top: 1px solid var(--yellow);
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, 185px);
  padding: 40px 20px;
  justify-content: space-around;
  width: 100%;
}

._link_to_collection {
  background-color: var(--grey-opacity-2);
  border-radius: 0.5em;
  padding: 10px;
  text-decoration: none;
}

._link_to_collection {
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  gap: 5px;
  justify-content: center;
}

._link_to_collection ._collection_name {
  align-items: center;
  color: #fff;
  display: flex;
  gap: 5px;
}

._link_to_collection ._collection_name svg {
  color: var(--yellow);
}

._link_to_collection ._collection_length {
  color: #fff;
  font-size: 0.8em;
  font-style: italic;
  opacity: 0.7;
}

._header_collections_home {
  display: flex;
  justify-content: center;
  width: 100%;
}

._header_collections_home span {
  align-items: center;
  background-color: var(--grey-dark);
  border-radius: 25px;
  border: 1px solid var(--yellow);
  color: #fff;
  display: flex;
  font-family: '646', sans-serif;
  font-size: 0.8em;
  gap: 5px;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(15px);
}

._header_collections_home span svg {
  color: var(--yellow);
}
