* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url(https://i.pinimg.com/originals/37/6d/38/376d38776eddb98d03b42ebb27f1f752.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

._links_to_collections {
  background-color: var(--grey-opacity-4);
  border-top: 1px solid var(--yellow);
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, 185px);
  padding: 40px 20px;
  justify-content: space-around;
  width: 100%;
}
