* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-image: url(https://i.pinimg.com/originals/37/6d/38/376d38776eddb98d03b42ebb27f1f752.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
